<!DOCTYPE html>
<head>
<title>blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__STATIC__/bs/css/modal.css">
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
<link href="__STATIC__/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='__STATIC__/style/ismobile.js'></script>
<script type="text/javascript" src="__STATIC__/jqueryui/jquery.js"></script>

<link rel="stylesheet" href="__STATIC__/bs/css/tooltip.css">
<link rel="stylesheet" href="__STATIC__/shareandsidebar.css">
 <link rel="stylesheet" href="__STATIC__/bs/css/pagination.css">
<script src="__STATIC__/bs/js/bootstrap.min.js"></script>
<!-- 引入bootstrap.css -->
<!-- <link rel="stylesheet" href="__STATIC__/bs/css/bootstrap.min.css"> -->
<style>

/*返回顶部按钮样式*/
 .scrolltop{
 	position: absolute;
 	position: fixed;
    left:1250px;
    top:540px;
    display: none;
    
 	
 }
</style>
</head>

<body>
	<!-- 添加侧边栏 -->
	{include file="./common/sidebar"/}
	<!-- 添加侧边栏 -->
<!--顶部通栏-->	
	{include file="./common/header"/}
<!--顶部通栏-->


<div class="position">
	<a href="{:url('index/index/index')}">主页</a> 
</div>

<div class="overall">

	<div class="left">
		{volist name='articles' id='vo' key="k"}
				<div class="xnews2">
				<div class="pic"><br/><a target="_blank" href=""><img src="__STATIC__/uploads/{$vo.pic}" alt="{$vo.pic}"/></a></div>
				<div class="dec">
				<h3>
					<a target="_blank" href="{:url('index/article/index',['id'=>$vo.id])}">{$vo.title}</a>
					<!-- 这里的id是文章的id -->
				</h3>
				<div class="time">发布时间:{$vo['time']|date="Y-m-d H:i:s",###}</div>
				<!-- 文章的简介 -->
				<p>
					{$vo.desc}
                 </p>
                 <div class="time">
                 	  <p>
                 	  	 关键词：
                 	  	 {for start="0" end="5" empty=""}
                 	  	 {if condition="!isset($list_ex[$k-1][$i])"}
                 	  	 <!-- 不输出东西 -->
                 	  	 {else /}
                         <span class="label label-primary">
                         {$list_ex[$k-1][$i]}
                         </span>
                         &nbsp;&nbsp;&nbsp;
                 	     {/if}
                 	     {/for}
                 	     文章分类：
					<a href="{:url('index/cate/index',['cateid'=>$vo.cateid])}">
					{$vo.catename}</a> 
					&nbsp;&nbsp;&nbsp;&nbsp;点击量：{$vo.click} 
                     </p>
                 </div>
               
				
				</div>
				</div>
				
      {/volist}
      
				
           
				<div class="pages">

				<div class="plist" >
					      {$articles->render()}
				</div>

				</div>
       
	</div>
	<!-- 左侧的结束 -->
   <!-- 右侧的东西	 -->
   {include file='common/right'/}
  

	
</div>


{include file="common/footer"/}

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
<script>
	//返回顶部
	$(document).ready(function(){  
    $(".scrolltop").hide();  
    $(function () {  
        //设置高度  
        var height=100;  
        //scroll() 方法为滚动事件  
        $(window).scroll(function(){  
            if ($(window).scrollTop()>height){  
                $(".scrolltop").fadeIn(500);  
            }else{  
                $(".scrolltop").fadeOut(500);  
                }  
        });  
        $(".scrolltop").click(function(){  
            $('body,html').animate({scrollTop:0},100);  
            return false;  
        });  
    });  
});  
</script>
<!-- 控制侧边栏的js代码 -->
<script src="__STATIC__/sidebar.js"></script>
</html>